{% extends 'index.html' %}
{%block content%}
<div class="container" style="margin-top: 50px;" >
    <div class="row">
        <div class="col-sm-4" style="background-color:gray;">
            <p style="text-align: center;">hi i am shunham</p>
        </div>
   
        <div class="col-sm-4" style="background-color:gray;">
            <p style="text-align: center;">hi i am shubham</p>
        </div>

        <div class="col-sm-4" style="background-color:gray;">
            <p style="text-align: center;">hi i am shubham</p>
        </div>

    </div>
</div>
<p> Products page</p>
{%endblock%}