{% extends 'index.html' %}
{%block content%}
    <div id="services">
        <div class="container-fluid">
            <h1 class="sub-title">My Services</h1>
            <div class="services-list">
                <div>
                    <i class="fa-solid fa-code"></i>
                    <h2>Backend Development</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore eligendi culpa nihil optio dolores
                        ipsum exercitationem sunt.
                        Quas, aliquid voluptatum ducimus, saepe, velit porro architecto neque nemo repellendus dicta enim!
                    </p>
                    <a href="#">Learn more</a>
                </div>
                <div>
                    <i class="fa-solid fa-crop-simple"></i>
                    <h2>UI Design</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore eligendi culpa nihil optio dolores
                        ipsum exercitationem sunt.
                        Quas, aliquid voluptatum ducimus, saepe, velit porro architecto neque nemo repellendus dicta enim!
                    </p>
                    <a href="#">Learn more</a>
                </div>
                <div>
                    <i class="fa-brands fa-app-store"></i>
                    <h2>App Development</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore eligendi culpa nihil optio dolores
                        ipsum exercitationem sunt.
                        Quas, aliquid voluptatum ducimus, saepe, velit porro architecto neque nemo repellendus dicta enim!
                    </p>
                    <a href="#">Learn more</a>
                </div>
            </div>
        </div>
    </div>
{%endblock%}